* {
  font-size: 10px;
}

.logo {
  width: 200px;
  border-radius: 6px;
  margin: 16px 28px 16px 0;
  float: left;
}
.ant-layout {
  display: flex;
  font-size: 10px;
  min-height: calc(100vh);
  /* align-items: center;
  justify-content: center; */

  .ant-layout-header {
    background-color: #001529;
    padding: 0 24px;
  }

  .page-layout {
    max-height: calc(100vh);
    height: calc(100vh);

    .ant-layout-content {
      overflow: scroll;
    }
  }

  .ant-layout-footer {
    font-size: 10px;
    overflow: hidden;
    text-align: center;
  }

  .ant-card-head {
    height: 40px;
    .ant-card-head-title, .ant-card-extra {
      padding: 8px 0;
    }
  }

  .category-badge {
    height: 36px;
    margin-right: 20px;
    margin-bottom: 5px;
    background: #f2f2f2;
    padding: 0 8px;
    border-radius: 5px;

    &.ant-badge {
      position: relative;
      display: inline-block;
      line-height: 36px;
      vertical-align: middle;
    }

    button {
      height: 36px;
    }
  }

  .ant-form-item-required, .ant-form-item-control {
    font-size: 12px;
  }
  
  .ant-menu-item {
    font-size: 10px;
  }
  
  .ant-tag {
    margin-bottom: 3px;
  }
}
