* {
  font-size: 10px;
}

body {
  background-color: #ececec;
  /* background-color: #FFFFFF; */
}
// 左边导航栏样式
.app-lefter{
  position: absolute;
  height: 100vh;
  width: 15%;
}
.app-top{
  height: 64px;
  position: absolute;
  left: 15%;
  width: 85%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  span{
    float: right;
    margin-right: 32px;
    line-height: 64px;
  }
}
.wrapper{
  position: absolute;
  top: 64px;
  left: 15%;
  background: #fff;
  // height: 100vh;
  width: 85%;
  margin: 24px;
  padding: 32px;
}
/**
* 工具类
*/

.text-overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.line-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.relative-picker-container {
  position: relative;
}

/**
页面样式
*/

.logo-header {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  height: 64px;
  padding-left: 10px;
  margin-right: 20px;
  border-bottom: .5px solid rgba(255, 255, 255, .4);
  .logo {
    height: 36px;
    width: 36px;
  }
  .name {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    div:last-child {
      font-weight: 200;
      color: rgba(255, 255, 255, .6)
    }
  }
}

.header h1 {
  color: white;
}

.page-layout {
  min-height: 600px;
}

.content-header {
  padding: 10px 0;
}

.content-header .title {
  font-size: 22px;
  font-weight: 600;
  padding-right: 20px;
}

.content-header .header-search {
  width: 200px;
}

.content-header .btn-groups {
  float: right;
}

.content-header .btn-groups button {
  margin: 0 10px;
}

.filter {
  padding: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  /*border-bottom: 1px solid #f2f2f2;*/
  margin: 10px 0;
}

.filter .title {
  padding-right: 10px;
  font-size: 16px;
}

.card-groups {
  padding-top: 20px;
}

.card-groups .ant-card {
  margin-bottom: 20px;
}

.card-groups .ant-card-head {
  background-color: #efefef;
}

